.CategoryName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: green;
    margin: 15px 0;
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
    padding: 20px;

}

.noPokemon {
    font-size: 30px;
    width: 500px;
    height: 400px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-size: 100% 100%;
    background-image: url('../../assets/image/pokiDokiKorona.png');
    
}

.CategoryNameTitle {
    background-color: rgb(255,255,0,0.8);
    border: 1px solid aqua;
    padding: 10px;
    box-shadow: 12px 12px 2px 1px aqua;
}